ld-bookmark-page ul.bookmark-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

ld-bookmark-page ul.bookmark-list > li[data-bookmark-id] {
  display: block;
  background: linear-gradient(to top, #fbfbfb, #ffffff);
  border: 1px solid #eeeeee;
  border-radius: 6px;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  position: relative;
}

ld-bookmark-page ul.bookmark-list > li[data-bookmark-id] > .content {
  display: block;
}

ld-bookmark-page ul.bookmark-list > li[data-bookmark-id] .title {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

ld-bookmark-page ul.bookmark-list > li[data-bookmark-id] .title a {
  font-weight: bold;
  color: #111;
  text-decoration: none;
  font-size: 18px;
}

ld-bookmark-page ul.bookmark-list > li[data-bookmark-id] .url-display {
  color: #555;
  padding-top: 4px;
  font-size: 12px;
}

ld-bookmark-page ul.bookmark-list > li[data-bookmark-id] .url-path {
  padding-top: 4px;
  font-size: 12px;
}

ld-bookmark-page ul.bookmark-list > li[data-bookmark-id] .description {
  margin: 0.5rem 0;
  color: var(--bookmark-description-color);
  font-weight: var(--bookmark-description-weight);
}

ld-bookmark-page ul.bookmark-list > li[data-bookmark-id] .description.separate {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--ld-bookmark-description-max-lines, 1);
  overflow: hidden;
}

ld-bookmark-page ul.bookmark-list > li[data-bookmark-id] .tags {
  margin-bottom: 0.5rem;
}

ld-bookmark-page ul.bookmark-list > li[data-bookmark-id] .tags a {
  display: inline-block;
  margin-right: 0.25rem;
  background: #e6f2f0;
  color: #005f73;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  text-decoration: none;
}

ld-bookmark-page :is(ul.bookmark-list > li[data-bookmark-id] .tags) a,
ld-bookmark-page :is(ul.bookmark-list > li[data-bookmark-id] .tags) a:visited:hover {
  padding: 0;
  color: #5755d8;
  background: none;
}

ld-bookmark-page ul.bookmark-list > li[data-bookmark-id] .actions,
ld-bookmark-page ul.bookmark-list > li[data-bookmark-id] .extra-actions {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  column-gap: var(--unit-2);
  padding: 5px;
  color: var(--bookmark-actions-color);
  font-size: var(--font-size-sm);
}

ld-bookmark-page :is(ul.bookmark-list > li[data-bookmark-id] .actions) a,
ld-bookmark-page :is(ul.bookmark-list > li[data-bookmark-id] .actions) button.btn-link {
  font-size: 12px;
}

@media (max-width: 600px) {
  ld-bookmark-page ul.bookmark-list > li[data-bookmark-id] .extra-actions {
    margin-top: var(--unit-1);
    width: 100%;
  }
}

@media (max-width: 700px) {
  ld-bookmark-page ul.bookmark-list > li[data-bookmark-id] {
    width: 100%;
  }
}

@media (prefers-color-scheme: light) {
  ld-bookmark-page .section-header {
    border-bottom: none !important;
  }
}
